<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Reflections</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .app-frame {
            max-height: 1600px;
            height: auto;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="nav-buttons">
            <a href="{{ url_for('home') }}" class="nav-button">Back to everyone</a>
            <a href="{{ url_for('reset_secret_key') }}" class="nav-button">Reset secret key</a>
        </div>
        <div class="app-frame">
            <h1>My Reflections</h1>
            {% if authenticated %}
                <h2>Dear {{ name }},</h2>
                {% if responses %}
                    {% for group in responses %}
                        <div class="reflection-group">
                        {% for response in group %}
                            <div class="reflection-question">{{ response['question'] }}</div>
                            <div class="reflection-response">{{ response['response']|safe|replace("\r", "") }}</div>
                        {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-resposes">(No reflections here yet)</div>
                {% endif %}
            {% else %}
                <div class="lock-container">
                    <div class="lock-icon">🔒</div>
                    <form action="{{ url_for('post_me') }}" method="post">
                        <div class="input-group">
                            <input type="text" name="user_secret_key" placeholder="Enter your secret key" required>
                            <button type="submit" class="submit-button">Submit</button>
                        </div>
                    </form>
                    {% if error %}
                        <div class="error-message">{{ error }}</div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>