<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave a Reflection</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .app-frame {
            position: relative;
        }
    </style>
</head>
<body>
    <div class="nav-buttons">
        <!-- <a href="{{ url_for('get_me') }}" class="nav-button">My reflections</a> -->
    </div>

    <div class="app-frame">
        <h1>Leave a Reflection</h1>
        <button class="info-button" onclick="openModal()">?</button>
        <div class="image-grid">
            {% for image in images %}
            <a href="{{ url_for('people', full_name=image.filename[:-4]) }}" class="image-frame">
                <div class="image-container">
                    <img src="{{ url_for('static', filename=image.filename) }}" alt="{{ image.firstname }}">
                </div>
                <p>{{ image.firstname|capitalize }}</p>
            </a>
            {% endfor %}
        </div>
    </div>

    <div id="infoModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p>{{ modal_text|safe|replace("\r", "") }}</p>
        </div>
    </div>

    <script>
        function openModal() {
            document.getElementById('infoModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('infoModal').style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == document.getElementById('infoModal')) {
                closeModal();
            }
        }
    </script>
</body>
</html>

